@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
}

div::selection {
  background-color: white;
  color: black;
}

a::selection {
  background-color: white;
  color: black;
}

video {
  visibility: visible;
  display: block;
  opacity: 1;
}

.div-with-borders {
  position: relative; /* Ensures pseudo-elements position relative to the div */
  z-index: 1; /* Content should stay above pseudo-elements */
  /* give the parent div a border of 1px solid color */
  border: 1px solid white;
}

.div-with-borders::before,
.div-with-borders::after {
  content: "";
  position: absolute;
  z-index: 10; /* Position pseudo-elements over the content, so it is on top of the border element */
  pointer-events: none; /* Ensure no interference with user interactions */
}

/* Top and Bottom Borders */
.div-with-borders::before {
  top: -2px; /* to position the pseudo element exactly above the where the border would be */
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  right: 0;
  height: 3px; /* Thickness of the top border */
  background-color: black; /* Color of the top and bottom borders, has to be differnet than border color of parent div */
}

.div-with-borders::after {
  bottom: -2px;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 3px; /* Thickness of the bottom border */
  background-color: black; /* Color of the top and bottom borders */
}

/* Left and Right Borders */
.div-with-borders > .border-left,
.div-with-borders > .border-right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3px; /* Thickness of the left/right borders */
  background-color: black; /* Color of the left and right borders */
}

.div-with-borders > .border-left {
  left: -2px;
}

.div-with-borders > .border-right {
  right: -2px;
}

.arrowCursorRight {
  cursor: e-resize;
}

.arrowCursorLeft {
  cursor: w-resize;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.noScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.noScrollBar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.borderr {
  border: 1px solid red;
}

.imageContainer {
  visibility: hidden;
}

#carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
  scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */

  margin: 0 auto 0 auto;
  width: 90vw;
  height: fit-content;

  border: solid #f3e6ff 0.5px;
}

#carousel::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.headerLink {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  /* font-size: 0.65rem;
  line-height: 1rem; */
  /* font-weight: 300; */
}

.headerLink::after {
  content: "";
  height: 1px;
  background: white;
  left: 0;
  bottom: 0px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.5s ease-out;
}

.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}
.headerLink::after {
  transform: scaleX(
    0
  ); /* Scale back to 0, but the transform-origin changes to right */
  transform-origin: right;
}
